
export(KmerEnrichFullReport)
export(common_kmers)
export(get_vector_stats_kmers)
export(get_virus_stats_kmers)
export(kmers_pos_df)

importFrom(magrittr, "%>%")
importFrom(dplyr, filter, group_by, summarize, mutate, arrange, ungroup)
importFrom(Biostrings, readDNAStringSet, matchPattern)
importFrom(data.table, rbindlist)
importFrom(stringr, str_count)
importFrom(stats, sd)
importFrom(utils, head)
importFrom(stats, lag)
importFrom("ShortRead", "readFastq")

